body[data-theme='dark'] {
    --lb-light: #1C1C1C;
    --lb-light-highlight: #222222;
  
    --lb-body-bg: #151516;
    --lb-text-color: #FFF;
  
    --lb-card-bg: #191919;
    --lb-border-color: #1C1C1C;

    --lb-input-bg: var(--lb-card-bg);
    --lb-input-border: #252525;

    .invert-dark,
    img[src*="lessborders_logo"] {
        filter: brightness(6.5);
    }

    .invert-dark,
    img[src*="lessborders_logo"] {
        filter: brightness(6.5);
    }

    .form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
        color: var(--lb-text-color);
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 300px #353835 inset !important;
        -webkit-text-fill-color: var(--lb-text-color) !important;
    }
}