body[data-theme='dark'] {
    --lb-primary: #333;
    --lb-primary-highlight: #444;

    --lb-light: #252525;
    --lb-light-highlight: #333;
  
    --lb-body-bg: #171717;
    --lb-text-color: #FFF;
  
    --lb-card-bg: #1B1B1B;
    --lb-border-color: #1F1F1F;

    --lb-input-bg: #333;

    .invert-dark,
    img[src*="lessborders_logo"] {
        filter: brightness(6.5);
    }
}