// color overrides
@each $color, $value in $lb-colors {
  .btn-#{$color} {
    background-color: var(#{$value});
    border-color: transparent !important;
    transition: border-radius 0.15s linear;
    color: #FFF;
    
    &:hover {
      background-color: var(#{$value}-highlight) !important;
      border-radius: 0.5rem 2rem 2rem 2rem !important;
    }

    &:focus {
      background-color: var(#{$value}-highlight);
      outline: none !important;
      box-shadow: none !important;
    }
    
    &:disabled {
      background-color: var(#{$value}) !important;
      color: #FFF !important;
      opacity: 0.5;
    }
  }
}

@each $color, $value in $lb-colors {
  .text-#{$color} {
    color: var(#{$value}) !important;
    text-decoration: none;
  }
}

@each $color, $value in $lb-colors {
  .bg-#{$color} {
    background-color: var(#{$value}) !important;
  }
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: var(--lb-body-bg);
  color: var(--lb-text-color);
  transition:background-color 0.2s linear;
  word-break: break-word;
}

a {
  color: var(--lb-link-color);

  &:hover {
    color: var(--lb-link-highlight-color);
  }
}

.dropdown-menu, .card {
  color: var(--lb-text-color);
  background-color: var(--lb-card-bg);
  border-color: var(--lb-border-color);
  text-decoration: none;    
  box-shadow: var(--lb-box-shadow);
}

.navbar .navbar-nav .show > .nav-link, .navbar .navbar-nav .nav-link, .navbar .nav .nav-link {
  color: var(--lb-text-color);
}

.card-bg, .card {
  background-color: var(--lb-card-bg);
  transition: background-color 0.15s linear;
}

.table {
  color: var(--lb-text-color);
}

//template overrides
a {
  text-decoration: none;
}

.dropdown-menu {
  margin-top: 1rem !important;
}

.container {
  position: relative;
}

.card-header {
  padding: 0.75rem 1rem;    
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar {
  transition: 0.1s all ease-out;
  border-bottom: 1px solid var(--lb-border-color);
  box-shadow: var(--lb-box-shadow);

  .nav-link {
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
  }

  .has-megamenu{
    position:static!important;
  }
  .megamenu{
    left:0; 
    right:0; 
    width:100%; 
    background: var(--lb-card-bg);
    max-height: calc(100vh - 75px);
    overflow:auto;
  }
}

.navbar.navbar--hidden {
  box-shadow: none;
  top: -75px;
}

.dropdown-toggle.custom-icon:after {
  border:none !important;
}

.nav-link {
  color: var(--lb-text-color) !important;
  border-bottom: 1px solid var(--lb-border-color);
  margin-bottom: 0;
}

.btn-light {
  color: var(--lb-text-color) !important;
}

.btn-close {
  color: var(--lb-text-color) !important;
}

.list-group-item {
  background-color: transparent;
  border: none;
}

.legal {
  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2 {
    text-transform: uppercase;
  }
}

.form-control, .input-group-text {
  background: var(--lb-input-bg);
  color: var(--lb-text-color);
  border-color: transparent;
  box-shadow: none !important;
}

.form-control:hover, .form-control:focus {
  background: var(--lb-input-bg);
  color: var(--lb-text-color);
  border-color: transparent;
}

.input-group-text, .form-control::placeholder {
  color: var(--lb-placeholder-color);
}

.form-control {
  padding: 0.5rem 0.75rem;
}

hr {
  background-color: var(--lb-border-color);
}

.form-floating .form-select, .form-floating .form-control {
  border: none;
  border-bottom: 1px solid var(--lb-border-color);
  border-color: var(--lb-border-color);
  border-radius: 0;
}
.form-floating .form-select:focus, .form-floating .form-control:focus {
  box-shadow: inset 0 -1px 0  var(--lb-primary);
  border-color: var(--lb-primary);
}
.form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
  color: var(--lb-primary);
  transform: scale(0.85) translateY(-0.75rem) translateX(0.1rem) !important;
}
.form-floating > .form-control, .form-floating > .form-select {
  height: calc(3.25rem + 2px);
  background: transparent !important;
}