// color overrides
@each $color, $value in $lb-colors {
  .btn-#{$color} {
    background-color: var(#{$value});
    border-color: transparent !important;
    transition: border-radius 0.15s linear;
    color: #FFF;
    line-height: 1.75;
    
    &:hover {
      background-color: var(#{$value}-highlight) !important;
      border-radius: 0.5rem 2rem 2rem 2rem !important;
      color: #FFF;
    }

    &:focus {
      background-color: var(#{$value}-highlight);
      outline: none !important;
      box-shadow: none !important;
    }
    
    &:disabled {
      background-color: var(#{$value}) !important;
      color: #FFF !important;
      opacity: 0.5;
    }
  }
}

@each $color, $value in $lb-colors {
  .text-#{$color} {
    color: var(#{$value}) !important;
    text-decoration: none;
  }
}
@each $color, $value in $lb-colors {
  .link-#{$color} {
    color: var(#{$value}) !important;

    &:hover {
      color: var(#{$value}-highlight);
    }
  }
}

@each $color, $value in $lb-colors {
  .bg-#{$color} {
    background-color: var(#{$value}) !important;
  }
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: var(--lb-body-bg);
  color: var(--lb-text-color);
  word-break: break-word;
  overflow-x: hidden;
}

a {
  color: var(--lb-link-color);

  &:hover {
    color: var(--lb-link-highlight-color);
  }
}

.dropdown-menu, .card {
  color: var(--lb-text-color);
  background-color: var(--lb-card-bg);
  border-color: var(--lb-border-color);
  text-decoration: none;    
  box-shadow: var(--lb-box-shadow);
}

.navbar .navbar-nav .show > .nav-link, .navbar .navbar-nav .nav-link, .navbar .nav .nav-link {
  color: var(--lb-text-color);
}

.card-bg, .card {
  background-color: var(--lb-card-bg);
}

.table {
  color: var(--lb-text-color);
}

//template overrides
a {
  text-decoration: none;
}

.dropdown-menu {
  margin-top: 1rem !important;
}

.container {
  position: relative;
}

.card-header {
  padding: 0.75rem 1rem;    
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.borderless {
  border: none;
}

.borderless.input-group {
  label,
  input {
    border: none;
  }
}

.offcanvas {  
  background-color: var(--lb-card-bg);
  border: none;

  .offcanvas-header {
    padding: 0.55rem 1rem;
    margin-bottom: 0.5rem;
  }

  .nav-link {
    padding: 0.75rem 1rem;

    &:hover, &.show {
      background-color: var(--lb-light-highlight);
    }
  }
}
nav {
  &.navbar--hidden  {
    .navbar {
      box-shadow: none;
      top: -75px;
    }
  }

  .navbar {
    transition: 0.2s top ease-out;
    box-shadow: var(--lb-box-shadow);
    padding-top: 0;
    padding-bottom: 0;

    .navbar-brand {
      padding: 0;
    }

    .nav-link {
      transition: none;
      &:hover,
      &.router-link-active {
        background-color: var(--lb-light-highlight);
      }
    }

    .has-megamenu{
      position:static!important;
    }
    .megamenu{
      left:0; 
      right:0; 
      width:100%; 
      background: var(--lb-card-bg);
      max-height: calc(100vh - 75px);
      overflow:auto;
    }
  }
}

.dropdown-toggle.custom-icon:after {
  border:none !important;
}

.nav-link {
  color: var(--lb-text-color) !important;
  margin-bottom: 0;
}

.btn-light {
  color: var(--lb-text-color) !important;
}

.btn-close {
  color: var(--lb-text-color) !important;
}

.list-group-item {
  background-color: transparent;
  border: none;
}

.legal {
  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2 {
    text-transform: uppercase;
  }
}

.form-control, .input-group-text {
  background: var(--lb-input-bg);
  color: var(--lb-text-color);
  border-color: var(--lb-input-border);
  box-shadow: none !important;
  transition: border-color 0s linear;
}

.form-control:hover, .form-control:focus {
  background: var(--lb-input-bg);
  color: var(--lb-text-color);
  border-color: var(--lb-input-border);
}

.input-group-text, .form-control::placeholder {
  color: var(--lb-placeholder-color);
}

.form-control {
  padding: 0.5rem 0.75rem;
}

hr {
  background-color: var(--lb-border-color);
}

.dropdown-menu-end {
  right: 0;
}
.dropdown-item {
  padding: 0.625rem 1rem;
  color: var(--lb-text-color);
  cursor: pointer;

  &:hover,
  &:focus,
  &:active,
  &.router-link-active,
  &.active { 
    background-color: var(--lb-light-highlight);
    color: var(--lb-text-color);
  }

  i {
    padding-top:0.25rem;
    padding-bottom: 0.25rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    text-align: center;
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}