body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-color: var(--lb-body-bg);
    color: var(--lb-text-color);
    word-break: break-word;
    overflow-x: hidden;
    font-weight: 300;

    @each $color, $value in $lb-colors {
        .bg-#{$color} {
             background-color: var(#{$value}) !important;
        }
    }
    @each $color, $value in $lb-colors {
        .text-#{$color} {
            color: var(#{$value}) !important;
            text-decoration: none;
        }
    }
        @each $color, $value in $lb-colors {
            .link-#{$color} {
                color: var(#{$value}) !important;
            
            &:hover {
                color: var(#{$value}-highlight);
            }
        }
    }

    a {
      color: var(--lb-link-color);
    
      &:hover {
        color: var(--lb-link-highlight-color);
      }
    }

    hr {
        background-color: var(--lb-border-color);
    }

    .v-field__append-inner, .v-field__clearable, .v-field__field, .v-field__prepend-inner {
        padding-top: var(--lb-input-padding-top);
    }
    .v-field__input {
        margin-top: -8px;
    }
    .v-input__details {
        text-align: left;
    }

    .v-toolbar {
        transition: none;
        background: var(--lb-body-bg);
        color: var(--lb-text-color);

        &.v-app-bar {
            z-index: 1001 !important;
            background: var(--lb-body-bg);
            color: var(--lb-text-color);
        }

        .v-toolbar__content {
            min-height: 64px;
        }
    }

    .v-banner {
        background: var(--lb-card-bg);
        color: var(--lb-text-color);
    }
    
    .v-chip--size-default .v-avatar {
        color: inherit;
    }

    .v-card {
        .v-toolbar, .v-card-text {
            background: var(--lb-card-bg);
            color: var(--lb-text-color);
        }
    }

    .v-toolbar-title,
    .v-icon--size-small,
    .v-icon--size-default {
        font-size: 1rem;
    }

    .v-application, .v-navigation-drawer {
        background-color: var(--lb-body-bg);
        color: var(--lb-text-color);
        height: 100% !important;
        margin-top:0 !important;
    }

    .v-toolbar__prepend>.v-btn:first-child {
        -webkit-margin-start: 0;
        margin-inline-start: 0;
    }
    .v-app-bar.v-toolbar:not(.v-toolbar--flat), 
    .v-navigation-drawer--temporary,
    .v-card,
    .v-card--variant-contained {
        box-shadow: var(--lb-box-shadow);
    }
    .v-list-item-avatar > .v-avatar {
        color: inherit;
        height: 20px;
        width: 20px;
    }
    .v-card--variant-contained, 
    .v-card--variant-contained-flat {
        background-color: var(--lb-card-bg);
        color: inherit;
    }

    .v-list-item--active > .v-list-item-avatar > .v-avatar {
        transform: rotate(180deg);
    }

    .v-list--nav .v-list-item-title {
        font-size: inherit;
        font-weight: inherit;
    }

    .v-list {
        background: transparent;
        color: inherit;
        
        .v-list-item > i {
            width: 1.5rem;
            margin-right: 1rem;
            text-align: center;
        }
    }

    @media screen and ( min-width: 1280px ) {
        .v-container {
            max-width: 1320px;
        }
    }

    @media screen and ( max-width: 992px ) {
        .v-col-12:empty {
            display: none;
        }
    }
}

a {
    text-decoration: none;
}

.logo {
    width: 40px;
    height: auto;
}

main {
    .page-container {
        margin-left: auto;
        margin-right: auto;

        &:not(.full-page) {
            padding-top: 64px;
        }
    }
}

ul, ol {
    margin-left: 1.5rem;
    
    li {
        padding-top: 0.125rem;
    }
}

.small-container {
    max-width: 380px;
}

.m-vh-100 {
    min-height: 100vh;
}

ul.list-style-none {
    list-style: none;
    margin-left: 0;
}

.clickable i {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }