@import '_variables.scss';
@import 'https://static.lessborders.com/assets/vendor/fontawesome/css/all.min.css';
@import '_overrides.scss';

.logo {
  height: 36px;
  img {
    height: 100%;
    width: auto;
  }
}

main {
  .page-container {
    margin-left: auto;
    margin-right: auto;

    &:not(.full-page) {
      padding-top: 64px;
    }
  }
}

ul,
ol {
  margin-left: 1.5rem;

  li {
    padding-top: 0.125rem;
  }
}

.small-container {
  max-width: 380px;
}

.m-vh-100 {
  min-height: 100vh;
}

ul.list-style-none {
  list-style: none;
  margin-left: 0;
}

.clickable i {
  cursor: pointer;
}

.inverted {
  filter: brightness(6.5);
}

.grid {
  display: grid;

  &.cols-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
